/*FIGURE*/

.figure-holder {
  position: absolute;
  top: 37px;
  left: 24%;
  align-items: center;
  justify-content: center;
}

.head {
  position: relative;
  width: 95px;
  height: 80px;
  border-radius: 90% / 120% 120% 50% 50%;
  background: red;
  left: -20px;
}

/* BACKGROUND of the head */
.head::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  border-radius: inherit;
  z-index: 2;
}

/* shape behind the head */
.head::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 90%;
  top: 40%;
  left: 10%;
  background: inherit;
  border-radius: 70% / 90% 90% 50% 50%;
  transform: rotate(180deg);
  z-index: 1;
}

.eyes {
  position: relative;
}

.eyes::before {
  content: "";
  position: absolute;
  width: 175px;
  height: 150px;
  background: red;
  clip-path: ellipse(20% 12% at 50% 50%);
  top: -55px;
  left: -61px;
  z-index: 1;
}

.eye-left {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 3px #ff0000;
  top: 6px;
  left: -8px;
  z-index: 2;
}

.eye-right {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 3px red;
  top: 6px;
  left: 39px;
  z-index: 2;
}

.legs {
  position: relative;
  top: 25px;
  left: 0;
  z-index: 1;
}

.leg1-container {
  position: absolute;
  left: -2px;
}

.leg1 {
  position: absolute;
  width: min(1vw, 5.5px);
  height: 32px;
  top: 80%;
  background: red;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  left: calc(50% -1px);
  transform-origin: top center;
  z-index: 0;
  animation: swing 2s infinite ease-in-out alternate;
  animation-delay: 0.2s;
}

@keyframes swing {
  from {
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

.leg2-container {
  position: absolute;
  left: 12px;
}

.leg2 {
  position: absolute;
  width: 7px;
  width: min(1vw, 5.5px);
  height: 32px;
  top: 80%;
  background: red;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  left: calc(50% -1px);
  transform-origin: top center;
  z-index: 0;
  animation: swing2 2s infinite ease-in-out alternate;
  animation-delay: 0.3s;
}

@keyframes swing2 {
  from {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}

.leg3-container {
  position: absolute;
  left: 32px;
}

.leg3 {
  position: absolute;
  width: 7px;
  width: min(1vw, 5.5px);
  height: 32px;
  top: 80%;
  background: red;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  left: calc(50% -1px);
  transform-origin: top center;
  z-index: 0;
  animation: swing 2s infinite ease-in-out alternate;
  animation-delay: 0.4s;
}

.leg4-container {
  position: absolute;
  left: 47px;
}

.leg4 {
  position: absolute;
  width: 7px;
  width: min(1vw, 5.5px);
  height: 32px;
  top: 80%;
  background: red;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  left: calc(50% -1px);
  transform-origin: top center;
  z-index: 0;
  animation: swing4 2s infinite ease-in-out alternate;
  animation-delay: 0.6s;
}

@keyframes swing4 {
  from {
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}
