@property --100vw {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

:root {
  font-size: 16px;
  --100vw: 100vw;
  --px-width: tan(atan2(var(--100vw), 1px));
  --duration: calc(var(--px-width) / 1000 * 55s);
  --circle-width: 50px;
  --button-size: clamp(55px, 8vw, 75px);
  --button-margin: clamp(2vw, 4vw, 5vw);

  /* offsets not sure if needed 

  --offset: 25%;
  --move-initial: calc(-25% + #{$offset});
  --move-final: calc(-50% + #{$offset});*/

  /* SIZES */
  --size-h1: clamp(2.75rem, 7vw, 5.5rem);

  /* BASE COLORS */

  --clr-ivory: ivory;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  padding: 0;
  box-sizing: border-box;
  /*border: 2px solid red;*/
}

body {
  font-family: "clash display", sans-serif;
  height: 100%;
  width: 100%;
  color: var(--clr-ivory);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}
