:root {
  font-size: 16px;
  --100vw: 100vw;
  --px-width: tan(atan2(var(--100vw), 1px));
  --duration: calc(var(--px-width) / 1000 * 55s);

  /* offsets not sure if needed 

  --offset: 25%;
  --move-initial: calc(-25% + #{$offset});
  --move-final: calc(-50% + #{$offset});*/

  /* SIZES */
  --size-h1: clamp(2.75rem, 7vw, 5.5rem);

  /* BASE COLORS */

  --clr-reddish: rgb(36, 9, 9);
  --clr-ivory: ivory;
  --clr-greenlight: rgb(103, 149, 119);
  --clr-greendark: rgb(32, 61, 42);
  --clr-greenblack: rgb(25, 40, 30);
  --clr-greenmedium: rgb(104, 147, 118);
  --clr-kraken: rgb(54, 150, 138);
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
  padding: 0;
  box-sizing: border-box;
  /*border: 2px solid red;*/
}

body {
  font-family: "clash display", sans-serif;
  height: 100%;
  width: 100%;
  color: var(--clr-ivory);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

/*Credits */
/*https://pixabay.com/music/modern-jazz-unexpected-connection-strategy-risk-407229/ */
