/* BUTTON */

.button,
.button1,
.button2,
.button3,
.button4,
.button5,
.button6,
.button7 {
  display: block;
  position: absolute;
  font-family: Chillax, sans-serif;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  width: clamp(55px, 8vw, 75px);
  height: clamp(55px, 8vw, 75px);
  background-image: url("img/arrowtryout4.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  text-align: center;
  padding-top: 1.5rem;
  z-index: 999;
  bottom: 25px;
  right: 35px;
}

.buttonb,
.buttonb1,
.buttonb2,
.buttonb3,
.buttonb4,
.buttonb5,
.buttonb6,
.buttonb7 {
  display: block;
  position: absolute;
  width: clamp(55px, 8vw, 75px);
  height: clamp(55px, 8vw, 75px);
  background-image: url("img/arrowtryout5.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
  z-index: 999;
  bottom: 25px;
  left: 35px;
}

a {
  position: absolute;
  width: clamp(55px, 8vw, 75px);
  height: clamp(55px, 8vw, 75px);
  border-radius: 50%;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

/*
it is not intimidating. look, I am an illiterate in git and made a game joking about git commits, having to ask an AI how to setup the repro for entering the jam. hahahahahahahahahahahahahah oh that's so typical me. 
*/
